:root {
    --White: #ffff;
    --Black: #000000;
    --Red: #f67b6f;
    --Gray: #d3e1e0;
    --DarkGreen: #476160;
    --DarkBrown: #333333;
}

* {
    box-sizing: border-box;
}

body {
    margin: auto;
    max-width: 1200px;
}

a {
    color:var(--Black)
}

.main-nav {
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu {
    cursor: pointer;
}

.hamburger-menu i {
    background-color: transparent;
}

.introduction {
    background-image: url("./images/cloudy_forest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    background-position: center;
    position: relative;
}

.introduction-content {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.introduction-content h1 {
    font-size: 24px;
    text-transform: uppercase;
}

.introduction-content h2 {
    font-size: 48px;
}

.introduction img {
    height: 50%;
    max-width: 100%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    background-color: var(--Red);
    color: var(--White);
    border-radius: 14px;
    border: none;
    padding: 12px 32px;
    font-size: 16px;
}

.latest-news {
    width: 100%;
    text-align: center;
    background-color: var(--Red);
    padding: 64px 0;

}

.latest-news h2 {
    font-size: 48px;
    color: var(--White);
    margin: 0;
}


.latest-news-cards {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 32px 0;
    text-align: left;
}

.latest-news-card {
    width: 20%;
    background-color: var(--White);
    border-radius: 14px;
    padding: 20px 16px;
}

.latest-news-card img {
    height:  192px;
    width: 100%;
}

.latest-news button {
    border: solid 2px var(--White);
    background-color: var(--Red);
    color: var(--White);
    border-radius: 14px;
    padding: 12px 32px;
    font-size: 16px;
}

.travel-with-us-section {
    background-color: var(--Gray);
    padding: 96px 0 192px 0;
}

.travel-with-us-top {
    width: 50%;
    margin: auto;
    background-color: var(--White);
    text-align: left;
    border-radius: 24px;
    padding: 40px;
    display: flex;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
}

.travel-with-us-top p {
    font-size: 18px;
    line-height: 1.75;
}

.travel-with-us-box {
    width: 60%;
}

.travel-with-us-box h2 {
    font-size: 48px;
    color: var(--Black);
    margin: 0;
}


.travel-with-us-circles {
    width: 40%;
    position: relative;
}

.cottage-circle {
    width: 400px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: -200px;
    top: 0;
}

.travel-with-us-circles img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    top: 150px;
}

.red-circle {
    width: 150px;
    height: 150px;
    background-color: var(--Red);
    border-radius: 50%;
    position: relative;
    bottom: -300px;
    left: 50px;
}

.articles {
    background-image: url("./images/forest-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    background-position: center;
    position: relative;
    padding: 128px 0;
    display: flex;
}

.transparent-circle {
    width: 400px;
    height: 400px;
    background: var(--Gray);
    opacity: 0.2;
    border-radius: 50%;
    position: absolute;
    left: 178px;
    top: 200px;
}

.services-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    text-align: center;
    width: 50%;
    margin: auto;
}

.service-card {
    width: 200px;
    height: 100px;
    padding: 16px;
    border-radius: 16px;
    background-color: var(--White);
}

.service-card h3 {
    text-transform: uppercase;
    font-weight: 500;
}

.fa {
    font-size: 32px;
    padding: 16px;
    border-radius: 50%;
    background-color: var(--Gray);
}

.row {
    display: flex;
    position: relative;
}

.red-rectangle {
    width: 50%;
    height: 500px;
    background-color: var(--Red);
}

.mountains-circle {
    width: 480px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 25%;
    bottom: -20%;
    z-index: 2;
}

.gray-rectangle {
    width: 50%;
    height: 350px;
    background-color: var(--Gray);
    position: relative;
    bottom: -200px;
}

.do-something-row {
    display: flex;
    position: relative;
    gap: 42px;
}

.left-side {
    position: relative;
    bottom: -200px;
    left: 0;
    width: 50%;
    padding: 42px;
}

.left-side p {
    font-style: italic;
    font-weight: bold;
    line-height: 1.7;
    font-size: 18px;
    opacity: 0.8;
}

.right-side {
    width: 50%;
}

.do-something-box {
    width: 25%;
    background-color: var(--DarkGreen);
    text-align: center;
    padding: 48px 24px;
    border-radius: 24px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
    position: absolute;
    z-index: 2;
    top: -150px;
}

.do-something-box h2 {
    color: var(--White);
}

.do-something-box p {
    color: var(--Gray);
    line-height: 1.7;
}

.travel-with-us-bot {
    background-color: var(--DarkGreen);
    position: relative;
    padding: 48px 0;
    margin-top: 200px;
    height: 700px;
}

.mountains-red-border {
    width: 400px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 30%;
    top: 10%;
    border: solid 14px var(--Red);
}

.mountains-red-border img {
    width: 100%;
    height: 100%;
}

.mountains-small-circle {
    width: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    left: 20%;
    top: 250px;
}

.mountains-small-circle img {
    width: 100%;
    height: 100%;
}

.first-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 28px var(--Red);
    position: relative;
    bottom: -40%;
    left: 30%;
}

.second-circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: solid 18px var(--Red);
    opacity: 0.8;
    position: absolute;
    left: 10%;
    bottom: 15%;
}

.travel-with-us-bot-box {
    width: 25%;
    background-color: var(--White);
    text-align: center;
    padding: 24px;
    border-radius: 24px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
    position: absolute;
    z-index: 2;
    right: 20%;
    bottom: 15%;
}

.travel-with-us-bot-box h2 {
    font-size: 32px;
}

.travel-with-us-bot-box p {
    line-height: 1.7;
}

.about-us-section {
    background-color: var(--Red);
    color: var(--White);
}

.about-us {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 60px 0;
}

.about-heading {
    font-size: 22px;
    font-weight: normal;
}

.left-side-about-us {
    font-size: 24px;
    width: 50%;
}

.left-side-about-us h2 {
    font-size:44px
}

.right-side-percent {
    display: flex;
}

.left-side-capitals {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
    word-spacing: 3px;
}

.right-side-about-us {
    width: 50%;
}


.right-side-about-us p {
    line-height: 2;
    font-size: 20px;
}

.row-percent h2 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 0;
}

.row-percent {
    text-align: center;
}

.row-percent p {
    font-size: 14px;
}

.newsletter-section {
    background-color: var(--Gray);
    padding: 48px 48px 0 48px;
}

.newsletter-circles {
    position: relative;
    right: -25%;
}

.lake-circle {
    width: 400px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: solid var(--Red) 14px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
    z-index: 1;
}

.lake-circle img {
    width: 100%;
    height: 100%;
}

.right-red-circle {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: solid var(--Red) 40px;
    position: absolute;
    top: -20px;
    left: 25%;
    z-index: 0;
}

.full-red-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--Red);
    position: absolute;
    bottom: -10%;
    left: -5%;
    z-index: 2;
}

.bottom-red-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid var(--Red) 16px;
    position: absolute;
    left: 12%;
    bottom: -40%;
    opacity: 0.5;
}

.main-form {
    border-radius: 14px;
    width: 50%;
    padding: 40px;
    background-color: var(--White);
    left: 50%;
    bottom: 150px;
    position: relative;
    z-index: 2;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
}

.main-form h2 {
    font-size: 40px;
}

.main-form input  {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 14px;
    border-radius: 4px;
    border: none;
    background-color: var(--Gray);
}

.main-form textarea {
    display: block;
    width: 100%;
    height: 100px;
    margin-top: 14px;
    resize: none;
    padding: 8px;
    border-radius: 8px;
    border: none;
    background-color: var(--Gray);
}

.main-form input[type="submit"] {
    height: 40px;
    background-color: var(--Red);
    color: var(--White);
    text-transform: uppercase;
}

.main-footer {
    background-color: var(--DarkBrown);
    text-align: center;
    color: var(--White);
    height: 100px;
    padding: 20px;
}

