:root {
    --White: white;
}

body {
    margin: auto;
    max-width: 1440px;
}

.introduction {
    background-image: url("./images/cloudy_forest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    background-position: center;
    position: relative;
}

.introduction-content {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.introduction-content h1 {
    font-size: 24px;
    text-transform: uppercase;
}

.introduction-content h2 {
    font-size: 48px;
}

.introduction img {
    height: 50%;
    max-width: 100%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}