:root {
    --White: #ffff;
    --Black: #000000;
    --Red: #f67b6f;
    --Gray: #d3e1e0;
    --DarkGreen: #476160;
    --DarkBrown: #333333;
}

body {
    margin: auto;
    max-width: 1440px;
}

.introduction {
    background-image: url("./images/cloudy_forest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    background-position: center;
    position: relative;
}

.introduction-content {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.introduction-content h1 {
    font-size: 24px;
    text-transform: uppercase;
}

.introduction-content h2 {
    font-size: 48px;
}

.introduction img {
    height: 50%;
    max-width: 100%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    background-color: var(--Red);
    color: var(--White);
    border-radius: 14px;
    border: none;
    padding: 12px 32px;
    font-size: 16px;
}

.latest-news {
    width: 100%;
    text-align: center;
    background-color: var(--Red);
    padding: 64px 0;

}

.latest-news h2 {
    font-size: 48px;
    color: var(--White);
}


.latest-news-cards {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.latest-news-card {
    width: 20%;
    background-color: var(--White);
    border-radius: 14px;
    padding: 20px 16px;
}

.latest-news-card img {
    height:  192px;
    width: 100%;
}